.fhj_menu{
    width:250px;
    background:#324157;
    position: absolute;
    top:70px;
    left:0;
    bottom:0;
    ul{
        background:#324157;
        i,span{
            color:#fff;
        }
    }
}